// @import "/Users/stiakov/Documents/microverse/the_odin_project/CSS-Framework-with-SASS/css/";
// @import "/Users/elizabethvillalejos/Documents/Projects/Microverse/CSS-Framework-with-SASS/css/";

@import "/Users/stiakov/Documents/microverse/the_odin_project/CSS-Framework-with-SASS/css/sass-files/_variables.scss";
@import "/Users/stiakov/Documents/microverse/the_odin_project/CSS-Framework-with-SASS/css/reset-scss/_reset-src.scss";
@import "/Users/stiakov/Documents/microverse/the_odin_project/CSS-Framework-with-SASS/css/sass-files/_colors.scss";
@import "/Users/stiakov/Documents/microverse/the_odin_project/CSS-Framework-with-SASS/css/sass-files/_flex.scss";
@import "/Users/stiakov/Documents/microverse/the_odin_project/CSS-Framework-with-SASS/css/sass-files/_sizes.scss";
@import "/Users/stiakov/Documents/microverse/the_odin_project/CSS-Framework-with-SASS/css/sass-files/_paddings-margins.scss";
@import "/Users/stiakov/Documents/microverse/the_odin_project/CSS-Framework-with-SASS/css/sass-files/_text.scss";
@import "/Users/stiakov/Documents/microverse/the_odin_project/CSS-Framework-with-SASS/css/sass-files/_tables.scss";
@import "/Users/stiakov/Documents/microverse/the_odin_project/CSS-Framework-with-SASS/css/sass-files/_images.scss";

.main-container {
  width: 100vw;
  height: auto;
}

.overflow-hidden{
  overflow: hidden;
}

.cardboard {
  background: white;
  border: .5px solid $gray200;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgb(180, 179, 179);
  margin-top: 15px;
  margin-bottom: 15px;
}