/*COLOR*/

.bg-gray{
    background-color: $gray;
}

.bg-gray-50{
    background-color: $gray-50;
}

.bg-gray-75{
    background-color: $gray-75;
}

.bg-gray-100{
    background-color: $gray-100;
}

.bg-gray-200{
    background-color: $gray-200;
}

.bg-gray-300{
    background-color: $gray-300;
}

.bg-gray-400{
    background-color: $gray-100;
}

.bg-gray-500{
    background-color: $gray-200;
}

.bg-gray-600{
    background-color: $gray-300;
}

.bg-gray-700{
    background-color: $gray-100;
}

.bg-gray-800{
    background-color: $gray-200;
}

.bg-gray-900{
    background-color: $gray-300;
}
