
/*DARKENING AND LIGHTENING COLORS*/
@mixin color-setter {
  @for $i from 1 through 12 {
      .bg-pink-#{$i*100} {background:darken($pink, $i*5.15%); }
      .color-pink-#{$i*100} {color:darken($pink, $i*5.15%); }

      .bg-purple-#{$i*100} {background:darken($purple, $i*5.15%); }
      .color-purple-#{$i*100} {color:darken($purple, $i*5.15%); }

      .bg-green-#{$i*100} {background:darken($green, $i*5.15%); }
      .color-green-#{$i*100} {color:darken($green, $i*5.15%); }

      .bg-cyan-#{$i*100} {background:darken($cyan, $i*5.15%); }
      .color-cyan-#{$i*100} {color:darken($cyan, $i*5.15%); }

      .bg-gray-#{$i*100} {background:darken($gray, $i*5.15%); }
      .color-gray-#{$i*100} {color:darken($gray, $i*5.15%); }
  }
}

@include color-setter();