.d-flex {
    display: flex;
}

.dir-flex-row {
    flex-direction: row
}

.dir-flex-col {
    flex-direction: column
}

.flow-row-nowrap {
    flex-flow: row nowrap
}

.flow-col-nowrap {
    flex-flow: column nowrap
}

.flow-row-wrap {
    flex-flow: row wrap
}

.flow-col-wrap {
    flex-flow: column wrap
}

.at-start-hflex {
    justify-content: flex-start;
}

.at-center-hflex {
    justify-content: center;
}

.at-end-hflex {
    justify-content: flex-end;
}

.at-top-vflex {
    align-content: flex-start;
}

.at-middle-vflex {
    align-content: center;
}

.at-bottom-vflex {
    align-content: flex-end;
}

.around-item-flex {
    justify-content: space-around;
}

.between-item-flex {
    justify-content: space-between;
}



$num: 12;
@mixin order-setter {
  @for $i from 1 through $num {
      .order-#{$i} { order:$i; }
  }
}

$neg-num: -3;
@mixin order-neg-setter {
  @for $i from $neg-num through -1 {
      .order-neg#{$i} { order:$i; }
  }
}

@include order-setter();
@include order-neg-setter();
