.d-flex {
    display: flex;
}

.dir-flex-row {
    flex-direction: row
}

.dir-flex-col {
    flex-direction: column
}

.flow-row-nowrap {
    flex-flow: row nowrap
}

.flow-col-nowrap {
    flex-flow: column nowrap
}

.flow-row-wrap {
    flex-flow: row wrap
}

.flow-col-wrap {
    flex-flow: column wrap
}

.at-start-vflex {
    justify-content: flex-start;
    text-align: left;
}

.at-center-vflex {
    justify-content: center;
    text-align: center;
}

.at-end-vflex {
    justify-content: flex-end;
    text-align: right;
}

.at-top-hflex {
    align-items: flex-start;
}

.at-middle-hflex {
    align-items: center;
}

.at-bottom-hflex {
    align-items: flex-end;
}

.around-item-flex {
    justify-content: space-around;
}

.between-item-flex {
    justify-content: space-between;
}



$num: 12;
@mixin order-setter {
  @for $i from 1 through $num {
      .order-#{$i} { order:$i; }
  }
}

$neg-num: -3;
@mixin order-neg-setter {
  @for $i from $neg-num through -1 {
      .order-neg#{$i} { order:$i; }
  }
}
// .test-order{
// @include order-setter()
// }
@include order-setter();
@include order-neg-setter();
