
/*ALIGNING IMAGES*/
@mixin none-float {
  .none-float{
    float: none;}
}
@mixin right-float {
  .right-float{
    float: right;}
}
@mixin left-float {
  .left-float{
    float: left;}
}
@mixin clear {
  .clear{
    display: block;
    clear: both;
    content: "";
  }
}

@mixin fluid-img {
  .fluid-img{
  max-width: 100%;
  height: auto;
  // this makes it responsive
}
}
@mixin img-opacity {
  $count: 5;
  $num:0.05;
  @for $i from 1 through 20{
    $res: ($count);
    .img-opacity-#{$count} {
      opacity:$num;
      $count: $count + 5;
      $num: $num + .05;
    }
}
}

@mixin img-grayscale {
  $count: 5;
  @for $i from 1 through 20{
    $res: (percentage($count)/100);
    .img-grayscale-#{$count} {
      filter: grayscale($res);
      $count: $count +5;
    }
}
}

/*INCLUDES*/
@include none-float;
@include right-float;
@include left-float;
@include clear;
@include fluid-img;
@include img-opacity;
@include img-grayscale;
