@mixin size-setter {
  $leng: 12;
  @for $i from 1 through 12 {
    .col-#{$leng} {width: 8.333333% * $leng;}          
    .col-#{$leng}-vw {width: 8.333333vw * $leng;}
    $leng: $leng - 1;      
  }

  @for $i from 1 through 20 {
    $mult: ($i * 0.5% * 10);
    $name: ($i * 0.5 * 10);
    .w-#{$name}-per {width: $mult;}      
     
  }
}

@mixin height_setter {
  @for $i from 1 through 600 {
      .h-#{$i} {height: #{$i}px; }
  }
}

@include height_setter();
@include size-setter();

.wrapper {
  display: flex;
  justify-content: center;
}