/*TABLE STYLING*/

/*BORDERS*/

@mixin styles-border {
  @for $i from 1 through 10 {
    .solid-border-#{$i} {
      border: #{$i}px
      solid $gray300;
    }
    .dotted-border#{$i} {
      border: #{$i}px
      dotted $gray300;
    }
    .dashed-border-#{$i} {
      border: #{$i}px
      dashed $gray300;
    }
    .double-border-#{$i} {
      border: #{$i}px
      double $gray300;
    }
  }
}

@mixin direction-border {
  @for $i from 1 through 10 {
    .top-border-#{$i} {
      border-top: #{$i}px
      solid $gray300;
    }
    .bottom-border#{$i} {
      border-bottom: #{$i}px
      solid $gray300;
    }
    .right-border-#{$i} {
      border-right: #{$i}px
      solid $gray300;
    }
    .left-border-#{$i} {
      border-left: #{$i}px
      solid $gray300;
    }
  }
}

@mixin rounded-border {
  @for $i from 1 through 25 {
    .table-rounded-border-#{$i} {
      border-radius: #{$i}px;
    }
  }
}

@mixin spacing-borders {
  @for $i from 1 through 20 {
    .table-spacing-border-px-#{$i} {
      border-spacing: #{$i}px;
    }
  }
}

@mixin spacing-borders-percentage {
  @for $i from 1 through 9 {
    $res: (percentage($i)/100);
    .spacing-border-#{$i}-per {
      border-spacing:#{$res};
    }
  }
  @for $i from 1 through 10 {
    $res: (percentage($i)/10);
    .spacing-border-#{$i*10}-per {
      border-spacing:#{$res};
    }
  }
}

@mixin table-width {
  @for $i from 1 through 30 {
    .table-w-#{$i} {
      width: #{$i}px;
    }
  }
  $count: 5;
  @for $i from 1 through 20{
    $res: (percentage($count)/100);
    .table-w-#{$count}-per {
      width:#{$res};
      $count: $count +5;
    }
  }
}

@mixin table-height {
  @for $i from 1 through 30 {
    .table-h-#{$i} {
      height: #{$i}px;
    }
  }
  $count: 5;
  @for $i from 1 through 20{
    $res: (percentage($count)/100);
    .table-h-#{$count}-per {
      height:#{$res};
      $count: $count +5;
    }
  }
}
@mixin table-padding {
  @for $i from 1 through 30 {
    .table-padding-#{$i} {
      padding: #{$i}px;
    }
  }
  $count: 5;
  @for $i from 1 through 20{
    $res: (percentage($count)/100);
    .table-padding-#{$count}-per {
      padding:#{$res};
      $count: $count +5;
    }
  }
}
/*INCLUDES*/

@include styles-border;
@include rounded-border;
@include direction-border;
@include spacing-borders;
@include spacing-borders-percentage;
@include table-width;
@include table-height;
@include table-padding;

/*DEFAULT BASIC TABLE SETTING*/
.table{
	border-spacing: 0;
  width: 100%;
  border-bottom: .1rem solid black;
}

/*SETTING UP CLASSES WITH FIXED VALUES*/

.hidden-border {
  border-style: hidden;
}

.no-border {
  border-style: none;
}

.collapse-borders {
  border-collapse: collapse;
}

.separate-borders {
  border-collapse: separate;
}


/*TABLE EFFECTS*/
.table-row:hover{
  background-color: #f5f5f5; //to be updated
}
.stripped-table{
  tr:nth-child(even){
    background-color: #f2f2f2;
  }
}

.hidden-cells{
  empty-cells: hide;
}